<%- include("head", { title: "Authentication Example" }) -%>
<%- include("header") -%>
  <main class="form-signin w-100 m-auto">
    <form method="post" action="/logIn"> <!--여기 바꿔야 함-->
      <h1 class="h3 mb-3 fw-normal">Diary</h1> <!--expected '/' in jslint-->
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password">
        <label for="password">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit" value="Login">Log in</button>
    </form>

  </main>
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Web Programming Group C</p>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
  </footer>
</div>
<%- include('foot') -%>